@model VehiclesMVC.Models.Automobile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h3>Automobile</h3>
    <hr />
    <p><b>Image</b></p>
    <img src="@Url.Content(Model.ImageURL)" alt="IMAGE" class="img-responsive">

    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.VinNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VinNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mileage)
        </dd>
    </dl>


    <h4>Tires Condition</h4>
    <dl>
        <dt>
            Front Left Tire
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FrontLeftTire)
        </dd>
        <dt>
            Front Right Tire
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FrontRightTire)
        </dd>
        <dt>
            Back Left Tire
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BackLeftTire)
        </dd>
        <dt>
            Back Right Tire
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BackRightTire)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
